:root {
  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --background: #ffffff;
  --foreground: #020817;

  --card: #ffffff;
  --card-foreground: #020817;

  --popover: #ffffff;
  --popover-foreground: #020817;

  --primary: #1a1a1a;
  --primary-foreground: #fafafa;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #f4f4f5;
  --accent-foreground: #18181b;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #1a1a1a;

  --radius: 0.5rem;


}

[data-theme='dark'] {
  --background: #09090b;
  --foreground: #fafafa;

  --card: #09090b;
  --card-foreground: #fafafa;

  --popover: #09090b;
  --popover-foreground: #fafafa;

  --primary: #fafafa;
  --primary-foreground: #18181b;

  --secondary: #27272a;
  --secondary-foreground: #fafafa;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --accent: #27272a;
  --accent-foreground: #fafafa;

  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;

  --border: #27272a;
  --input: #27272a;
  --ring: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


